body{
    background-color: powderblue;
}
.container{
    background-color: white;
    width: fit-content;
}
label{
    width: 100px;
    display: inline-block;
    text-align: right;
    color: blue;
}
.container h3{
    background-color: red;
    color: white;
    text-align: center;
}