* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body{
    background-color: powderblue;
    font-family: Arial, Helvetica, sans-serif;
}
form{
    background-color: white;
    width: fit-content;
    border-radius: 5px;
    padding: 20px;
    margin: 10px auto;
}
h3{
    text-align: center;
    margin-bottom: 20px;
}
.sign_up_option{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 15px;
}
.option{
    background-color: #F8F8FB;
    padding: 5px;
    border-radius: 5px;
    width: 45%;
    height: 30px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #DADAF2;
}
.option:hover{
    border: 1px solid mediumpurple;
}
.option img{
    width: 16px;
}
.label,
.label_sign_in,
.label_display_error{
    font-size: 12px;
    margin-bottom: 4px;
}
.sign_up_input{
    margin-top: 8px;
}
input{
    width: 100%;
    height: 30px;
    background-color: #F8F8FB;
    border: 1px solid #DADAF2;
    outline: none;
    padding: 10px;
    border-radius: 5px;
}
input:focus{
    border: 1px solid mediumpurple;
}
.label_display_error{
    opacity: 0;
    color: red;
}
.button_sign_up{
    margin-top: 8px;
    width: 100%;
    height: 30px;
    background: #626CD6;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
}
button:hover{
    background-color: #4954d0;
}
.label_sign_in{
    text-align: center;
    margin-top: 10px;
}
.label_sign_in span{
    color: #626cd6;
    cursor: pointer;
}
.label_sign_in span:hover{
    text-decoration: underline;
}