.container{
    background-color: black;
    width: fit-content;
    margin: 20% auto;
    padding: 5px;
    border-radius: 10px;
}
.container_result{
    height: 50px;
    background-color: powderblue;
    padding: 2px;
    border-radius: 10px;

}
.result{
    text-align: right;
}
.button{
    width: 40px;
    border-radius: 10px;

}